body {
	font-family: Roboto;
/* get from uiGradients */
	background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Chrome 10+, Saf5.0 */
	background:    -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* IE10 */
	background:      -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Opera 11.10+ */
	background: 		linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* W3C */
}

h1 {
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	/* icon still there when width = 0, so we need to set the opacity to 0 */
	opacity: 0;
}

ul {
	/* get rid of the bullet points */
	list-style: none;
	margin: 0;
	padding: 0;
}

/* all li */
li {
	background: #fff;
	height: 40px;
	/* change the font of line to make the text at the middle */
	line-height: 40px;
	color: #666;
}
/* every two li */
li:nth-child(2n) {
	background: #f7f7f7;
}

/* appear the trash botton when hover over li */
li:hover span {
	width: 40px;
	opacity: 1.0;
}

input {
	font-size: 18px;
	color: #2980b9;
	background-color: #f7f7f7;
	width: 100%;
	/* T/R/B/L */
	padding: 13px 13px 13px 20px;
	/* the width and height include content padding border (default is content-box) */
	box-sizing: border-box;
	/* get rid of the little gap */
	border: 3px solid rgba(0, 0, 0, 0);
}
/* change input when focus */
input:focus {
	background: #fff;
	border: 3px solid #2980b9;
	/* similar to border, except outline doesn't take space */
	outline: none;
}

.fa-plus {
	float: right;
}

#container {
	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
	/* use a box-shadow instead of border*/
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed {
	color: gray;
	text-decoration: line-through;
}
