<h1>Friends List Goes Here!</h1>

<!-- < % % > means that treat these code as JS and < %= % > then valuated to be added to the HTML-->
<% friends.forEach(function(friend) { %>
    <li><%= friend %></li>
<% }); %>

<!-- method means this is a post request and give to the url "/addfriend" -->
<form action="/addfriend" method=POST>
    <!-- give input value a name, it's more like var newfriend = inputValue -->
    <input type="text" name="newfriend" placeholder="name">
    <button>I made a new friend!</button>
</form>
