<h1>Search For a Movie</h1>

<!-- method means this is a get request and give to the url "/addfriend" -->
<form action="/results" method="GET">
    <input type="text" placeholder="search term" name="search">
    <input type="submit">
</form>
